/* Reseteo */
* {
  margin: 0px;
  padding: 0px;
}

/* Variables*/
:root {
  --lav-light: #f2deff;
  --lav: #b57edc;
}

/* Tipografía general */
body {
  font-family: raleway;
}

.mb-6 {
  margin-bottom: 4rem;
}


.card-img-top:hover {
  opacity: 0.9;
}


.btn-lav {
  color: #fff;
  background-color:  #b57edc;
  border-color:  #b57edc;
}

.btn-lav:hover{
  color: #fff;
  background-color:  #f2deff;
  border-color:  #f2deff;
  transform: scale(0.9);
}

.bg-lav{
  background-color:#f2deff ;
}














/* Footer */
footer {
  width: 100%;
  background: var(--lav);
  height: 100px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.anchoFooter {
  margin-top: 30px;
}

.redes {
  display: inline-block;
}

.bi-facebook {
  /* font-size: 30px; */
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}

.bi-facebook:hover {
  color: #3b5998;
}

.bi-whatsapp {
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}

.bi-whatsapp:hover {
  color: #25d366;
}

.bi-instagram {
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}

.bi-instagram:hover {
  color: #8a3ab9;
}
